html {
    background-color:#f1efdf;
    user-select: none;
}

h1 {
    color: black;
    font-size: 13px;
    text-indent: 5vw;
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 350;
    letter-spacing: 1px;
}

.header-content {
    display: flex;
    justify-content: space-between;  /* Pushes the items to the edges */
    align-items: center;  /* Vertically center the items */
    width: 100%;  /* Takes the full width of the container */
}

.name {
    font-family: 'Roboto Mono', monospace;
}

.links {
    padding-right: 3rem;
}

.links a {
    margin-left: 1rem;  /* Adds spacing between the links */
}

h2 {
    color: black;
    font-size: 13px;
    text-indent: 40mm;
    line-height: 90mm;
    font-family: 'Roboto Mono', monospace;
    font-weight: 350;
    letter-spacing: 1.5px;
}

/* For Year Page Headers*/
h2.year {
    text-indent: 49%;
    line-height: 50mm;
}

h3 {
    color: black;
    font-size: 50px;
    margin-top: -130px;
    font-family: 'Cormorant', serif;
    font-weight: 100;
}

h3.exps {
    width: 70%; /* Adjust based on your layout needs */
    margin-left: 40mm; /* Positioning from the left */
}

/* Amazon Web Services Title */
h3.aws {
    text-indent: 34%;
    line-height: 60mm;
    font-size: 70px;
}

/* Ice Title */
h3.ice {
    text-indent: 41.5%;
    line-height: 60mm;
    font-size: 70px;
}

/* Ever Title */
h3.ever {
    text-indent: 40.5%;
    line-height: 60mm;
    font-size: 70px;
}

/* Rain Title */
h3.rain {
    text-indent: 40%;
    line-height: 60mm;
    font-size: 70px;
}

/* SBJ Capital Title */
h3.sbj {
    text-indent: 41%;
    line-height: 60mm;
    font-size: 70px;
}

/* Hudson Bend Title */
h3.hud {
    text-indent: 39%;
    line-height: 60mm;
    font-size: 70px;
}

/* About Description Title */
h3.about {
    line-height: 105mm;
    padding-left: 210mm;
    white-space: nowrap;
}

h3.about {
    font-family: 'Cormorant', serif;  /* Assuming Cormorant is a serif font, you should adjust the fallback font (serif here) accordingly. */
}

.left-side-image {
    position: fixed;  /* This will "fix" the image to a specific position on the page */
    left: 100;          /* This will place the image at the very left edge of the page */
    top: 65%;         /* This will place the image's top edge halfway down the page */
    transform: translateY(-50%);  /* This will vertically center the image */
    max-height: 80vh; /* This ensures the image doesn't take up more than 80% of the viewport's height */
    width: 500px;
    height: auto;
    margin-left: 150px;
}


.description p {
    margin-bottom: 1.5rem; 
    line-height: 1.6;
    color: black;
    font-size: 20px;
    padding-left: 210mm;   /* This indents the entire paragraph to the right */
    font-family: 'Cormorant', serif;
    font-weight: 100;
}

h4 {
    color: black;
    font-size: 13px;
    text-indent: 40mm;
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 350;
    letter-spacing: 0px;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
}

/* For News Section of Recent Work Pages */
h4.news {
    text-indent: 0;
    margin-top: 0;
    padding-left: 550px;
}

h4.description {
    text-indent: 0;
    margin-top: 0;
    padding-left: 800px;
}

h4.abouthome {
    margin-top: 0px;
}

h5 {
    color: black;
    font-size: 70px;
    text-indent: 200mm;
    margin-top: 50px;
    font-family: 'Cormorant', serif;
    font-weight: 100;
}

h6 {
    color: black;
    font-size: 12px;
    text-indent: 120mm;
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 375;
    letter-spacing: 0.6px;
}

/* Journal Body */
h6.body {
    padding-left: 500px;
    font-weight: 2em;
    text-indent: 0mm;
}